In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
#read csv file
df = pd.read_csv("../data/preprocessig_data.csv")

In [3]:

from sklearn.preprocessing import MinMaxScaler

# creates an instance of the MinMaxScaler, setting the range of the output to be between 0 and 70.
scaler = MinMaxScaler(feature_range=(0, 70))

# extracts the column CO2 Emissions(g/km) from the DataFrame df and reshapes it into a 2D array.
column_to_scale = df['CO2 Emissions(g/km)'].values.reshape(-1, 1)

# This scales the values in column_to_scale using the MinMaxScaler.it and transform the column using the scaler
scaled_column = scaler.fit_transform(column_to_scale)

# This replaces the original column in the DataFrame with the scaled values.
df['CO2 Emissions(g/km)'] = scaled_column

In [4]:
# Features and target variable
#features (x) and the target variable (y).
x = df.drop(['CO2 Emissions(g/km)'], axis=1)
y = df['CO2 Emissions(g/km)']

In [5]:
x.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg)
0,ACURA,ILX,COMPACT,2.0,4.0,AS5,Z,9.9,6.7,8.5,33.0
1,ACURA,ILX,COMPACT,15.0,4.0,AS5,Z,9.9,6.7,8.5,33.0
2,ACURA,ILX,COMPACT,2.4,4.0,M6,Z,11.2,7.7,9.6,29.0
3,ACURA,ILX HYBRID,COMPACT,1.5,4.0,AV7,Z,6.0,5.8,5.9,48.0
4,ACURA,MDX 4WD,SUV - SMALL,3.5,6.0,AS6,Z,12.7,9.1,11.1,25.0

In [ ]:
df.head()

In [6]:
# List of categorical column names
categorical_columns = ['Make','Model','Vehicle Class','Transmission', 'Fuel Type']

# Use Pandas get_dummies to one-hot encode the categorical columns
x = pd.get_dummies(x, columns=categorical_columns)

# Now, all the specified categorical columns are one-hot encoded
x

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),Make_ACURA,Make_ALFA ROMEO,Make_ASTON MARTIN,Make_AUDI,...,Transmission_AV6,Transmission_AV7,Transmission_AV8,Transmission_M5,Transmission_M6,Transmission_M7,Fuel Type_D,Fuel Type_E,Fuel Type_X,Fuel Type_Z
0,2.0,4.0,9.9,6.7,8.5,33.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,15.0,4.0,9.9,6.7,8.5,33.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,2.4,4.0,11.2,7.7,9.6,29.0,True,False,False,False,...,False,False,False,False,True,False,False,False,False,True
3,1.5,4.0,6.0,5.8,5.9,48.0,True,False,False,False,...,False,True,False,False,False,False,False,False,False,True
4,3.5,6.0,12.7,9.1,11.1,25.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6326,2.0,4.0,10.7,7.7,9.4,30.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6327,2.0,4.0,11.2,8.3,9.9,29.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6328,2.0,4.0,11.7,8.6,10.3,27.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6329,2.0,4.0,11.2,8.3,9.9,29.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
6330,2.0,4.0,12.2,8.7,10.7,26.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [7]:
# for x (6331 rows, 1689 feature columns)
x.shape

(6331, 1689)

In [8]:
# for y (6331 target values, 1)
y.shape

(6331,)

In [9]:
y

0        9.107590
1        9.107590
2       10.567139
3        5.604671
4       12.552127
          ...
6326    10.450375
6327    11.209341
6328    11.676397
6329    11.209341
6330    12.143453
Name: CO2 Emissions(g/km), Length: 6331, dtype: float64